div.header {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

div.header > h1 {
    text-align: center;
    color: silver;
}

div.sidebar{
    margin: 15px 15px 15px auto;
    float: left;
    display: block;
    background-color: lightblue;
    width: 23%;
    height: 800px;
}

div.content {
    float: right;
    margin: 15px auto 15px 0;
    background-color: lightseagreen;
    width: 75%;
    height: 600px
}

div.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif
    font-size 15px;
    background-color: black;
    padding: 15px;
    color: silver;
    text-align: center;
}